{% extends 'lib_logs/base.html' %}

{% block content %}

    {% if form.errors %}
    <p> Ваш логін та пароль не співпадають. Спробуйте ще раз</p>
    {% endif %}

    <form action="{% url 'users:login' %}" method="post">
        {%  csrf_token %}
        {{ form.as_p }}

        <button name = 'submit' > Увійти </button>
        <input type = "hidden" name = "next"
            value="{% url 'lib_logs:index' %}" />

     </form>

{% endblock content%}
