{% extends 'lib_logs/base.html' %}

{% block content %}

<p> Книги </p>

<ul>
{% for book in books %}
    <li>
        <a href= "{%  url 'lib_logs:book' book.id %}" >{{ book }} </a>
    </li>
    {% empty %}
    <li> <li>
    {% endfor %}
</ul>

    <a href= "{%  url 'lib_logs:new_book' %}" > Додати нову книгу </a>

{% endblock %}
