{% extends 'lib_logs/base.html' %}

{% block content %}

    <p> Книга: {{ book }} </p>
    <p> Відгуки:</p>
    <p>
        <a href="{%  url 'lib_logs:new_review' book.id %}" >Додати новий відгук</a>
    </p>

    <ul>
    {% for review in reviews %}
        <li>
            <p>{{ review.date_added|date:'M d, Y' }}</p>
            <p> {{ review.text|linebreaks }}</p>
            <p>
                <a href="{% url 'lib_logs:edit_review' review.id %}" >Редагувати відгук</a>
            </p>
        </li>
        {% empty %}
        <li> Ще немає відгуку по цій книзі.  <li>
    {% endfor %}
    </ul>

{% endblock content%}
