{% extends 'lib_logs/base.html' %}

{% block content %}
    <p><a href="{% url 'lib_logs:book' book.id %}">{{ book }} </a></p>

    <p> Додавання нового відгуку: </p>
    <form action="{% url 'lib_logs:new_review' book.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" >Додати відгук </button>
    </form>
{% endblock content %}
